* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: block;
	font-family: 'neue-haas', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #F5F5F5;
}

/*Primary header*/

header {
	background-color: #FF93AD;
}

div.header-wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 24px 0;

}

div.header-container {
	background-color: white;
	max-width: 1320px;
	min-height: 93px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	border-radius: 50px;
	margin: 0 60px;
}

div.header-logo {
	padding: 10px 0px 10px 40px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	padding: 10px 40px 10px 0px;
}

nav li {
	list-style-type: none;
	padding: 10px 10px;
}

 li a {
	text-decoration: none;
	color: black;
	padding: 10px 12px;
	border-radius: 50px;
	transition: 250ms;
}

li.order a {
	background-color: black;
	border-radius: 50px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	transition: 250ms;
}

a:where(:hover, :focus) {
	background-color:  #FF93AD;
	text-shadow:0px 0px 1px black;
	transition: 250ms;
}

li.order a:where(:hover, :focus) {
	background-color:  #FF93AD;
	color: black;
	text-shadow:0px 0px 1px black;
	transition: 250ms;
}


/*TABLET VERSION*/

@media (max-width: 64rem) {

	
}
