@import './static/css/variables.css';
@import './static/css/typography.css';

/* Buttons */
button.open {
    width: 310px;
    height: 70px;
    border-radius: 10px;
    font-family: 'neue';
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
}
