@import './static/css/variables.css';
@import './static/css/typography.css';
@import './static/css/reset.css';
@import './static/css/components.css';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

/*Primary header*/

header {
    background-color: var(--pink);
}

div.header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 0;
}

div.header-container {
    background-color: var(--white);
    max-width: 1440px;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 50px;
    margin: 0 60px;
}

div.header-logo {
    padding: 10px 0px 10px 40px;
}

.primary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 40px 10px 0px;
}

nav li {
    list-style-type: none;
    padding: 10px 10px;
}

li a {
    text-decoration: none;
    color: black;
    padding: 10px 12px;
    border-radius: 50px;
    transition: 250ms;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

li.order a {
    background-color: var(--black);
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    transition: 250ms;
}

a:where(:hover, :focus) {
    background-color:  var(--pink);
    text-shadow:0px 0px 1px black;
    transition: 250ms;
}

li.order a:where(:hover, :focus) {
    background-color: var(--pink);
    color: black;
    text-shadow:0px 0px 1px black;
    transition: 250ms;
}

.mobile-nav-toggle {
    display: none;
}

/*Primary pink page*/

.pink-page {
    background-color: var(--pink);
    height: 100%;
    margin-top: -1px;
    padding-bottom: 84px;
}

.page-width {
    max-width: 1440px;
    margin: 0 auto;
}

.page-margin {
    margin: 0 60px;
}

.pink-page-text {
   padding-top: 76px;

   position: relative;
   z-index: 100;

}

.pink-page-text p {
    font-size: 150px;
    font-family: 'damn';
    text-transform: uppercase;
    line-height: 157px;
    position: relative;
    z-index: 100;
}



.pink-page-decor {
   position: relative;
}

/*DECOR*/

img.decor2 {
    position: absolute;
    left: 610px;
    top: 2rem;
    z-index: 20;
}

img.decor3 {
    position: absolute;
    right: 5.93rem;
    top: 6.75rem;
}

img.decor11 {
    position: absolute;
    right: 3.3rem;
    top: 19.5rem;
    z-index: 10;
}

img.decor5 {
    position: absolute;
    top: 19.125rem;
    right: 5.93rem;
    z-index: 10;
}

img.decor4 {
    position: absolute;
    right: 13.375rem;
    top: 26.12rem;
}

img.decor6 {
    position: absolute;
    top: 32rem;
    right: 3.3rem;
}

/*Primary black page*/

.black-page {
    background-color: var(--black);
    height: 100%;
    padding: 80px 0px;
    color: var(--white);
}

.black-page-text {
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 3fr 3fr;
}

.grid-1 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;
}

.grid-2 {
    grid-area: 2 / 1 / 3 / 2;  
}

.grid-3 {
    grid-area: 2 / 2 / 3 / 3;
}

.grid-4 {
    grid-area: 1 / 2 / 2 / 5;
    padding-left: 5rem;
}

.grid-5 {
    grid-area: 2 / 3 / 3 / 5;
    padding-left: 5rem;
}

.black-page-text span {
    font-family: 'damn';
    font-size: 150px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
}

.black-page-text p {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

/*Primary Photo page*/

.photo-page {
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;
}

.caffe-photo {
    object-fit: cover;
    min-width: 0;
}

.photo-container {
    padding: 0; 
}

/*Primary Why to visit us page*/

.why-visit {
    display: flex;
    gap: 5rem;
}

.why-heading {
    width: 60%;
}

.why-heading p {
    text-transform: uppercase;
    font-size: 150px;
    line-height: 157px;
    font-family: 'damn';
    color: var(--pink);
    text-align: right;
}

.why-text {
    width: 40%;
}

.why-text li {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    list-style-type: disc;
    font-weight: 700;
    padding-bottom: 10px;
}

/*Primary Menu page*/

.menu {
    padding-top: 80px;
    margin: 0 auto;
    max-width: 510px;
}

.menu p {
    font-family: 'damn';
    font-size: 150px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 100px;
    text-align: center;
    padding: 24px 120px 0px 120px;
}

.main-menu {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 80px;
    margin-top: 40px;
    padding: 50px;
}

.main-menu-heading {
    font-family: 'damn';
    font-size: 150px;
    position: relative;
}

.main-menu-heading::after {
    content: '';
    width: 100%;
    height: 2px;
    border-bottom: 4px solid black;
    position: absolute;
}

/*Main menu*/

.sides {
    display: flex;
    gap: 4rem;
}

.left-side-menu {
    width: 50%;
    min-height: 100%;
    min-width: 0;
}

.black-coffee {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'damn';
    margin-top: 62px;
    font-size: 50px;
    text-transform: uppercase;
}

.black-coffee p {
    font-size: 128px;
    max-height: 128px;
    white-space: nowrap;
}

.price-items li {
    padding-bottom: 28px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.price-items span:first-of-type {
    width: 250px;
}

.price-items span {
    width: 120px;
}

.price-items span:nth-child(2) {
    text-align: right;
}

.price-items span:nth-child(3) {
    text-align: right;
}

span:empty {
    width: 250px;
}

span.toppings:empty {
    width: 120px;
}

.ml-uah {
    font-family: sans-serif;
    font-size: 20px;
}

.right-side-menu {
    width: 50%;
    min-height: 100%;
    min-width: 0;
}

.fix-letter {
    font-family: arial;
    font-size: 120px;
}

.toppings-par {
    margin-bottom: 40px;
}

p.tea-descr {
    font-family: sans-serif;
    font-size: 14px;
    width: 250px;
    white-space: normal;
    line-height: 150%;
    padding-bottom: 28px;
}

li.tea-pad {
    padding-bottom: 10px;
}



/*TABLET VERSION*/

/* Max Width 
@width-desktop: 960px;
@width-tablet: 768px;
@width-mobile: 480px;*/

@media (min-width: 35rem) and (max-width: 64rem) {

/*Tablet toggler menu*/

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url("../images/hamburger-menu-2.svg");
        border: 0;
        background-repeat: no-repeat;
        width: 3rem;
        aspect-ratio: 1;
        background-size: cover;
        top: 2.5rem;
        right: 4rem;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("../images/hamburger-menu-close.svg");
        width: 3rem;
        background-size: cover;
    }

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        max-height: 550px;
        border-bottom-left-radius: 50px;
        background-color: #F5F5F5;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem 2rem 3rem 2rem;
        font-size: 1.5rem;
        gap: 1rem;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
      
    }

    .primary-navigation[data-visible="true"] {
         transform: translateX(0%);
    }

    .primary-navigation li {
        padding: 24px 0;
    }

    li.order {
        padding-top: 30px;
    }

/*END of mobile toggler menu*/

/*Tablet header*/

    div.header-container {
        background-color: var(--white);
        max-width: 100%;
        max-height: 80px;
        border-radius: 50px;
        margin: 0 40px;
    }

    img.header-logo {
        width: 228px;
        height: 60px;
    }

/*Tablet Pink page*/
    
    .pink-page {
        padding-bottom: 70px;
    }

    .page-margin {
        margin: 0 40px;
    }

    .pink-page-text {
        padding-top: 46px;
        height: 100%;
    }

    .pink-page-text p {
        font-size: 140px;
        font-family: 'damn';
        text-transform: uppercase;
        line-height: 147px;
        position: relative;
        z-index: 100;
    }

    .pink-page-text p:nth-child(1) {
        width: 50%;
    }

    .pink-page-text p:nth-child(2) {
        width: 100%;
    }

    .pink-page-text p:nth-child(3) {
        width: 60%;
    }

/*Tablet Decor*/    

    img.decor2 {
        top: 1.125rem;
        left: 11.375rem;
    }

    img.decor3 {
        right: 0;
        top: 1rem;
    }

    img.decor11 {
        right: 0;
        bottom: 0;
        top: auto;
    }

    img.decor5 {
        top: auto;
        right: 2rem;
        bottom: 1.2rem;
    }

    img.decor4 {
        right: 0;
        top: 10rem;
    }

    img.decor6 {
        top: auto;
        bottom: 18rem;
        right: 0;
        transform: rotate(-30deg);
    }

/*Tablet black page*/

    .black-page {
        padding: 70px 0;
    }

    .black-page-text span {
        font-family: 'damn';
        font-size: 140px;
        line-height: 147px;
    }

    .black-page-text p {
        font-size: 16px;
        line-height: 24px;
    }  

    .black-page-text {
        display: grid;
        gap: 1rem;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 2fr 3fr 3fr;
    }

    .grid-1 {
        grid-area: 1 / 1 / 2 / 2;
        align-self: end;
    }

    .grid-2 {
        grid-area: 2 / 1 / 3 / 2;
    
    }

    .grid-3 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .grid-4 {
        grid-area: 1 / 2 / 3 / 5;
        padding-left: 3rem;
        padding-right:;
        align-self: center;
    }

    .grid-5 {
        grid-area: 3 / 3 / 4 / 5;
        padding-left: 10px;
    }

/*Tablet Photo Page*/ 

    .photo-page {
        flex-direction: column;
    }

    .photo-container {
        padding: 0; 
    }

    .photo-margin-mobile {
        margin: 0;
    }

    .caffe-photo {
        width: 100%;
        max-height: 640px;
}

/*Tablet why to visit us*/

.why-visit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.why-heading {
    width: 100%;
}

.why-heading p {
    font-size: 140px;
    line-height: 147px;
    text-align: left;
}

.why-text {
    width: 100%;
}

.why-text li {
    font-size: 16px;
    line-height: 24px;
}


}

@media (max-width: 35rem) {

/*Mobile toggler menu*/

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url("../images/hamburger-menu-2.svg");
        border: 0;
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        background-size: cover;
        top: 2.75rem;
        right: 2.5rem;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("../images/hamburger-menu-close.svg");
        width: 2rem;
        background-size: cover;
    }

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        max-height: 550px;
        border-bottom-left-radius: 50px;
        background-color: #F5F5F5;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem 2rem 3rem 2rem;
        font-size: 1.5rem;
        gap: 1rem;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
      
    }

    .primary-navigation[data-visible="true"] {
         transform: translateX(0%);
    }

    .primary-navigation li {
        padding: 24px 0;
    }

    li.order {
        padding-top: 30px;
    }

/*Mobile header*/

    div.header-container {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        border-radius: 50px;
        margin: 0 20px;
    }

     img.header-logo {
        width: 114px;
        height: 30px;
    }

    div.header-wrapper {
        padding: 30px 0;

    }
/*Mobile Pink page*/
    
    .pink-page {
        padding-bottom: 40px;
    }

    .page-margin {
        margin: 0 20px;
    }

    .pink-page-text {
        padding-top: 18px;
        height: 100%;
    }

    .pink-page-text p {
        font-size: 90px;
        font-family: 'damn';
        text-transform: uppercase;
        line-height: 94.5px;
        position: relative;
        z-index: 100;
    }

    .pink-page-text p:nth-child(1) {
        width: 70%;
    }

    .pink-page-text p:nth-child(2) {
        width: 100%;
    }

    .pink-page-text p:nth-child(3) {
        width: 80%;
    }


/*Mobile Decor*/    

    img.decor2 {
        top: 0.5rem;
        left: 7.2rem;
        width: 118px;
        height: 116px;
    }

    img.decor3 {
        right: 0.12rem;
        top: 19.12rem;
        width: 173px;
        height: 143px;
    }

    img.decor11 {
        display: none;
    }

    img.decor5 {
        top: 6.43rem;
        right: 0;
        width: 154px;
        height: 132px;
        transform: rotate(-45deg);
    }

    img.decor4 {
        display: none;
    }

    img.decor6 {
        top: 29rem;
        right: 0;
        transform: rotate(-23deg);
        width: 178px;
        height: 133px;
    }

/*Mobile Black Page*/

.black-page {
        padding: 40px 0;
    }

    .black-page-text span {
        font-family: 'damn';
        font-size: 90px;
        line-height: 94px;
    }

    .black-page-text p {
        font-size: 16px;
        line-height: 24px;
    }  

    .black-page-text {
        display: grid;
        gap: 1rem;
        grid-template-rows: 0.5fr 0.5fr 2fr 1fr;
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .grid-2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .grid-3 {
        grid-area: 2 / 2 / 3 / 5;
    }

    .grid-4 {
        grid-area: 3 / 1 / 5 / 5;
        padding-left: 0;
    }

    .grid-5 {
        grid-area: 4 / 1 / 5 / 5;
        padding-left: 0;  
    }

/*Mobile Photo page*/

    
    .photo-page {
        flex-direction: column;
    }

    .photo-container {
        padding: 0; 
    }

    .photo-margin-mobile {
        margin: 0;
    }

/*Mobile why to visit us page*/

    .why-visit {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .why-heading {
        width: 100%;
    }

    .why-heading p {
        font-size: 90px;
        line-height: 95px;
        text-align: left;
    }

    .why-text {
        width: 100%;
    }

    .why-text ul {
        padding-left: 20px;
    }

    .why-text li {
        font-size: 16px;
        line-height: 24px;
    }






}