
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

/*Primary header*/

header {
    background-color: var(--pink);
}

div.header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 0;
}

div.header-container {
    background-color: var(--white);
    max-width: 1440px;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 50px;
    margin: 0 60px;
}

div.header-logo {
    padding: 10px 0px 10px 40px;
}

.primary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 40px 10px 0px;
}

nav li {
    list-style-type: none;
    padding: 10px 4px;
}

li a {
    text-decoration: none;
    color: #060021;
    padding: 10px 12px;
    border-radius: 50px;
    transition: 250ms;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: normal;

}

li.order a {
    background-color: var(--black);
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    transition: 250ms;
}

.mobile-nav-toggle {
    display: none;
}

/*Ukraine/English Version*/

.lang {
    display: block;
    margin-left: 8px;
    background: url("../images/ua-flag.svg");
    border: 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px  ;
    background-size: cover;
}

.lang.ukr {
    display: block;
    margin-left: 8px;
    background: url("../images/usa-flag.svg");
    border: 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px  ;
    background-size: cover;
}
    

/*Primary Pink Page*/

.pink-page {
    background-color: var(--pink);
    height: 100%;
    padding-bottom: 84px;
}

.page-width {
    max-width: 1440px;
    margin: 0 auto;
}

.page-margin {
    margin: 0 60px;
}

.pink-page-text {
   padding-top: 76px;
   position: relative;
   z-index: 100;
}

.pink-page-text p {
    font-size: 130px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 157px;
    position: relative;
    z-index: 100;
    letter-spacing: -2px;
}

.pink-page-decor {
   position: relative;
}

/*DECOR*/

img.decor2 {
    position: absolute;
    left: 610px;
    top: 2rem;
    z-index: 20;
}

img.decor3 {
    position: absolute;
    right: 5.93rem;
    top: 6.75rem;
}

img.decor11 {
    position: absolute;
    right: 3.3rem;
    top: 19.5rem;
    z-index: 10;
}

img.decor5 {
    position: absolute;
    top: 19.125rem;
    right: 5.93rem;
    z-index: 10;
}

img.decor4 {
    position: absolute;
    right: 13.375rem;
    top: 26.12rem;
}

img.decor6 {
    position: absolute;
    top: 32rem;
    right: 3.3rem;
}

/*Primary Black Page*/

.black-page {
    background-color: var(--black);
    height: 100%;
    padding: 80px 0px;
    color: var(--white);
}

.black-page-text {
   display: flex;
}

.about1 {
    width: 50%;
}

.about2 {
    width: 50%;
    margin-left: 1rem;
}

.grid-1 {
    margin-bottom: 2rem;
}

.grid-4 {
    margin-bottom: 2rem;
}

.about1 p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 130px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
}

.about2 p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

/*Primary Photo page*/

.photo-page {
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;
}

.caffe-photo {
    object-fit: cover;
    min-width: 0;
}

.photo-container {
    padding: 0; 
}

 .photo-margin-mobile {
    margin: 0;
}

/*Primary Why to visit us page*/

.why-visit {
    display: flex;
    gap: 5rem;
}

.why-heading {
    width: 60%;
}

.why-heading p {
    text-transform: uppercase;
    font-size: 130px;
    font-weight: 600;
    line-height: 105%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--pink);
    text-align: right;
}

.why-text {
    width: 40%;
}

.why-text li {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    list-style-type: disc;
    font-weight: 500;
    padding-bottom: 10px;
}

/*Primary Menu page*/

.menu {
    padding-top: 80px;
    margin: 0 auto;
    max-width: 510px;
}

.menu-page {
    position: relative;
}

.menu p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 130px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--black);
    border-radius: 100px;
    text-align: center;
    padding: 24px 120px 0px 120px;
}

.main-menu {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 80px;
    margin-top: 40px;
    padding: 50px;
}

.main-menu-heading {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 130px;
    font-weight: 600;
    position: relative;
}

.main-menu-heading::after {
    content: '';
    width: 100%;
    height: 2px;
    border-bottom: 4px solid black;
    position: absolute;
}

/*Main Menu*/

.sides {
    display: flex;
    gap: 4rem;
}

.left-side-menu {
    width: 50%;
    min-height: 100%;
    min-width: 0;
}

.black-coffee {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top: 62px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

.black-coffee p {
    font-size: 110px;
}

.price-items li {
    padding-bottom: 28px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.price-items span:first-of-type {
    width: 250px;
}

.price-items span {
    width: 120px;
}

.price-items span:nth-child(2) {
    text-align: right;
}

.price-items span:nth-child(3) {
    text-align: right;
}

span:empty {
    width: 250px;
}

span.toppings:empty {
    width: 120px;
}

.ml-uah {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.right-side-menu {
    width: 50%;
    min-height: 100%;
    min-width: 0;
}

.toppings-par {
    margin-bottom: 40px;
}

p.tea-descr {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 250px;
    white-space: normal;
    line-height: 120%;
    padding-bottom: 28px;
    font-weight: 400;
    letter-spacing: -0.5px;
}

li.tea-pad {
    padding-bottom: 10px;
}

/*Seasonal Menu*/

.seas-menu {
    width: 100%;
    height: 100%;
    background-color: var(--green);
    border-radius: 80px;
    margin-top: 40px;
    padding: 50px;
    overflow: hidden;
}

.seas-coffee {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top: 62px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

.seas-coffee p {
    font-size: 110px;
}

/*Primary Magic Beans Page*/

img.bean2-mobile, img.bean3-mobile, img.bean4-mobile {
    display: none;
}


.page-margin.magic-beans {
    display: flex;
}

.magic-text {
    width: 60%;
    z-index: 10;
}

p.first-mtext {
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 130px;
    font-weight: 600;
    line-height: 105%;

}

p.second-mtext, p.third-mtext {
    color: var(--pink);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

p.second-mtext {
    padding: 20px 0px 30px 0px
}

p.third-mtext {
    padding: 0 0 16px 0;
}

.magic-text ul {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    list-style-type: disc;
    padding-left: 20px;
    text-transform: uppercase;
}

.magic-text li {
    padding-bottom: 10px;
}

.beans {
    width: 40%;
    position: relative;

}

img.bean1 {
    position: absolute;
    bottom: 20px;
    right: 0px;
}

img.bean2 {
    position: absolute;
    top: 160px;
    right: 100px;
}

img.bean3 {
    position: absolute;
    bottom: 200px;
    left: 90px;
}

img.bean4 {
    position: absolute;
    top: 0px;
    left: 146px;
}

/*Primary Video Page*/

.video-page {
    width: 100%;
    max-height: 740px;
    display: flex;
}

.back-vid {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.black-page.vidpage {
    padding: 0;
}

.page-margin.vidpage {
    margin: 0;
}

/*Pink Page Running Line*/

.pink-page.run-line {
    padding: 80px 0;
}


/*Pink Running Page Running Line*/

.running-line {
    overflow: hidden;
    position: relative;
    max-height: 123px;
    white-space: nowrap;
    margin-bottom: 36px;
}

.running-line span {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 130px;
    font-weight: 600;
    color: var(--white);
    padding: 0 60px;
    animation: move 7s linear infinite;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/*Pink Running Page Text*/

.running-text {
    padding: 104px 0px 0px 50px;
    position: relative;
}

.running-text p {
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 130px;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -3px;
    z-index: 100;
    position: relative;
}

.run-decor1 {
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
}

.run-decor2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

/*Primary Last Photo Page*/

.last-photo-page {
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;
}

.last-photo {
    object-fit: cover;
    min-width: 0;
}

.photo-container {
    padding: 0; 
}


/*FOOTER*/

.fcont {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    gap: 2rem;
    justify-content: space-between;
}

.final-container {
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.contacts, .address, .social-media {
    display: flex;
    flex-direction: column;
    min-width: 0;
}


.contacts p, .address p, .social-media p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 105%;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
}

.contacts a, .address a, .social-media a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 500;
    line-height: 150%;
    color: var(--white);
    text-decoration: none;
    margin-bottom: 10px;
    overflow: hidden;
}

.copyright p {
    text-align: center;
    padding: 65px 0px 24px 0px;
    font-size: 14px;
    font-weight: 500;
}

.black-page.last-page {
    padding-bottom: 0;
}




/*TABLET VERSION*/

/* Max Width 
@width-desktop: 960px;
@width-tablet: 768px;
@width-mobile: 480px;*/

@media (min-width: 35rem) and (max-width: 64rem) {

/*Tablet toggler menu*/

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url("../images/hamburger-menu-2.svg");
        border: 0;
        background-repeat: no-repeat;
        width: 3rem;
        aspect-ratio: 1;
        background-size: cover;
        top: 2.5rem;
        right: 4rem;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("../images/hamburger-menu-close.svg");
        width: 3rem;
        background-size: cover;
        position: fixed;
    }

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        max-height: 550px;
        border-bottom-left-radius: 50px;
        background-color: #F5F5F5;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem 2rem 3rem 2rem;
        font-size: 1.5rem;
        gap: 1rem;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
         transform: translateX(0%);
    }

    .primary-navigation li {
        padding: 24px 0;
    }

    li.order {
        padding-top: 30px;
    }

    .lang {
        position: absolute;
        top: 2.5rem;
        left: 32px;
        width: 48px;
        height: 48px;
    }

    .lang.ukr {
        position: absolute;
        top: 2.5rem;
        left: 32px;
        width: 48px;
        height: 48px;
    }

/*END of mobile toggler menu*/

/*Tablet header*/

    div.header-container {
        background-color: var(--white);
        max-width: 100%;
        max-height: 80px;
        border-radius: 50px;
        margin: 0 40px;
    }

    div.header-logo {
        padding: 10px 0px 10px 24px;
    }

    img.header-logo {
        width: 228px;
        height: 60px;
    }


/*Tablet Pink Page*/
    
    .pink-page {
        padding-bottom: 70px;
    }

    .page-margin {
        margin: 0 40px;
    }

    .pink-page-text {
        padding-top: 46px;
        height: 100%;
    }

    .pink-page-text p {
        font-size: 120px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        text-transform: uppercase;
        line-height: 120%;
        position: relative;
        z-index: 100;
    }

    .pink-page-text p:nth-child(1) {
        width: 50%;
    }

    .pink-page-text p:nth-child(2) {
        width: 100%;
    }

    .pink-page-text p:nth-child(3) {
        width: 60%;
    }

/*Tablet Decor*/    

    img.decor2 {
        top: 1.125rem;
        left: 11.375rem;
    }

    img.decor3 {
        right: 0;
        top: 1rem;
    }

    img.decor11 {
        right: 0;
        bottom: 0;
        top: auto;
    }

    img.decor5 {
        top: auto;
        right: 2rem;
        bottom: 1.2rem;
    }

    img.decor4 {
        right: 0;
        top: 10rem;
    }

    img.decor6 {
        top: auto;
        bottom: 18rem;
        right: 0;
        transform: rotate(-30deg);
    }

/*Tablet black page*/

    .black-page {
        padding: 70px 0;
    }

    .black-page-text {
        flex-direction: column;
    }

    .about1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .about2 {
        width: 100%;
        margin-left: 0;
    }

    .grid-1 {
        margin-bottom: 0;
    }

    .about1 p {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 120px;
        line-height: 105%;
    }

    .about2 p {
        font-size: 16px;
        line-height: 24px;
    }  


/*Tablet Photo Page*/ 

    .photo-page {
        flex-direction: column;
    }

    .photo-container {
        padding: 0; 
    }

    .photo-margin-mobile {
        margin: 0;
    }

    .caffe-photo {
        width: 100%;
        max-height: 640px;
}

/*Tablet why to visit us*/

    .why-visit {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .why-heading {
        width: 100%;
    }

    .why-heading p {
        font-size: 120px;
        line-height: 105%px;
        text-align: left;
    }

    .why-text {
        width: 100%;
    }

    .why-text li {
        font-size: 16px;
        line-height: 24px;
    }

/*Tablet main menu page*/

    .menu {
        max-width: 430px;
    }

    .menu p {
        font-size: 110px;
    }

    .main-menu {
        padding: 36px;
    }

    .main-menu-heading {
        font-size: 120px;
    }

    .sides {
        flex-direction: column;
        gap: 0;
    }

    .left-side-menu {
        width: 100%;
    }

    .black-coffee {
        margin-top: 42px;
        font-size: 36px;
    }

    .black-coffee p {
        font-size: 80px;
    }

    .price-items li {
        padding-bottom: 28px;
        justify-content: space-between;
    }

    .right-side-menu {
        width: 100%;
    }

    .toppings-par {
        margin-bottom: 40px;
    }

    p.tea-descr {
        font-size: 14px;
    }

    li.tea-pad {
        padding-bottom: 10px;
    }

/*Tablet Seasonal Menu*/ 

    .seas-menu {
        padding: 36px;
    }


   .seas-coffee {
        margin-top: 42px;
        font-size: 36px;
    }

    .seas-coffee p {
        font-size: 80px;
    }   

/*Tablet Magic Beans Page*/
    
    img.bean2-mobile, img.bean3-mobile, img.bean4-mobile {
        display: none;
    }

    .magic-text {
        width: 80%;
    }

    p.first-mtext {
        font-size: 120px;
    }

    p.second-mtext, p.third-mtext {
        font-size: 16px;
        line-height: 24px;
    }

    .magic-text ul {
        font-size: 16px;
    }

    .beans {
        width: 20%;
    }

    img.bean1 {
        display: none;
    }

    img.bean2 {
        width: 130px;
        height: 130px;
        position: absolute;
        top: 40%;
        right: 0px;
        z-index: 1;
    }

    img.bean3 {
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 80%;
        left: 0px;
        z-index: 1;
    }

    img.bean4 {
        width: 110px;
        height: 110px;
        position: absolute;
        top: 80%;
        left: 0px;
        z-index: 1;
    }

/*Tablet Pink Page Running Line*/

    .pink-page.run-line {
        padding: 70px 0;
    }

    .running-line span {
        font-size: 110px;
    }

/*Pink Running Page Text*/

    .running-text {
        padding: 104px 110px 110px 50px;
        position: relative;
    }

    .running-text p {
        font-size: 120px;
    }


/*Tablet Last Photos Page*/

     .last-photo-page {
        flex-direction: column;
    }

    .last-photo {
        width: 100%;
        max-height: 640px;
    }


/*Tablet Footer*/

    .fcont {
        flex-direction: column;
        max-width: 794px;
    }











    }

@media (max-width: 35rem) {

/*Mobile Toggler Menu*/

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url("../images/hamburger-menu-2.svg");
        border: 0;
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        background-size: cover;
        top: 2.75rem;
        right: 2.5rem;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("../images/hamburger-menu-close.svg");
        width: 2rem;
        background-size: cover;
        position: fixed;
    }

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        max-height: 550px;
        border-bottom-left-radius: 50px;
        background-color: #F5F5F5;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem 2rem 3rem 2rem;
        font-size: 1.5rem;
        gap: 1rem;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
      
    }

    .primary-navigation[data-visible="true"] {
         transform: translateX(0%);
    }

    .primary-navigation li {
        padding: 24px 0;
    }

    li.order {
        padding-top: 30px;
    }

     .lang {
        position: absolute;
        top: 2.75rem;
        left: 32px;
        width: 32px;
        height: 32px;
    }

    .lang.ukr {
        position: absolute;
        top: 2.75rem;
        left: 32px;
        width: 32px;
        height: 32px;
    }

/*Mobile header*/

    div.header-container {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        border-radius: 50px;
        margin: 0 20px;
    }

    div.header-logo {
        padding: 10px 0px 10px 20px;
    }

     img.header-logo {
        width: 114px;
        height: 30px;
    }

    div.header-wrapper {
        padding: 30px 0;

    }
/*Mobile Pink page*/
    
    .pink-page {
        padding-bottom: 40px;
    }

    .page-margin {
        margin: 0 20px;
    }

    .pink-page-text {
        padding-top: 18px;
        height: 100%;
    }

    .pink-page-text p {
        font-size: 80px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        text-transform: uppercase;
        line-height: 120%;
        position: relative;
        z-index: 100;
    }

    .pink-page-text p:nth-child(1) {
        width: 70%;
    }

    .pink-page-text p:nth-child(2) {
        width: 100%;
    }

    .pink-page-text p:nth-child(3) {
        width: 80%;
    }


/*Mobile Decor*/    

    img.decor2 {
        top: 0.5rem;
        left: 7.2rem;
        width: 118px;
        height: 116px;
    }

    img.decor3 {
        right: 0.12rem;
        top: 19.12rem;
        width: 156px;
        height: 130px;
    }

    img.decor11 {
        display: none;
    }

    img.decor5 {
        top: 6.43rem;
        right: 0;
        width: 148px;
        height: 90px;
        transform: rotate(-45deg);
    }

    img.decor4 {
        display: none;
    }

    img.decor6 {
        top: auto;
        bottom: 6rem;
        right: 0;
        transform: rotate(-23deg);
        width: 160px;
        height: 76px;
    }

/*Mobile Black Page*/

    .black-page {
        padding: 40px 0;
    }

    .black-page-text {
        flex-direction: column;
    }

    .about1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .about2 {
         width: 100%;
         margin-left: 0;
    }

    .about1 p {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 80px;
        line-height: 105%;
    }

    .about2 p {
        font-size: 16px;
        line-height: 24px;
    }  

    .grid-1 {
        margin-bottom: 0;
    }
    

/*Mobile Photo page*/

    
    .photo-page {
        flex-direction: column;
    }

    .photo-container {
        padding: 0; 
    }

    .photo-margin-mobile {
        margin: 0;
    }

/*Mobile why to visit us page*/

    .why-visit {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .why-heading {
        width: 100%;
    }

    .why-heading p {
        font-size: 80px;
        line-height: 105%;
        letter-spacing: -0.5px;
        text-align: left;
    }

    .why-text {
        width: 100%;
    }

    .why-text ul {
        padding-left: 20px;
    }

    .why-text li {
        font-size: 16px;
        line-height: 24px;
    }


/*Mobile main menu page*/

   .menu {
        padding-top: 40px;
        max-width: 100%;
}

    .menu p {
        font-size: 80px;
        text-align: center;
        padding: 16px 85px 0px 85px;
    }

    .main-menu {
        border-radius: 60px;
        margin-top: 20px;
        padding: 30px 20px 20px 20px;
    }

    .main-menu-heading {
        font-size: 80px;
    }

    .sides {
        flex-direction: column;
        gap: 0;
    }

    .left-side-menu {
        width: 100%;
    }

    .black-coffee {
        margin-top: 30px;
        font-size: 24px;
    }

    .black-coffee p {
        font-size: 55px;
    }

    .ml-uah {
        font-size: 14px;
    }   

    .price-items li {
        padding-bottom: 20px;
        justify-content: space-between;
    }

    .right-side-menu {
        width: 100%;
    }

    .toppings-par {
        margin-bottom: 40px;
    }

    p.tea-descr {
        font-size: 14px;
        line-height: 105%;
    }

    li.tea-pad {
        padding-bottom: 10px;
    }

/*Mobile Seasonal*/

    .seas-menu {
        border-radius: 60px;
        margin-top: 20px;
        padding: 30px 20px 20px 20px;
    }

    .seas-coffee {
        margin-top: 30px;
        font-size: 24px;
    }

    .seas-coffee p {
        font-size: 55px;
    }

/*Mobile Magic Beans*/

    div.beans {
        display: none;
    }
    
    .magic-text {
       min-width: 100%;
       position: relative;
       z-index: 10;
    }

    p.first-mtext {
        font-size: 80px;
        letter-spacing: -0.5px;
        text-align: center;
    }

    p.second-mtext, p.third-mtext {
        font-size: 16px;
        line-height: 24px;
        position: relative;
        z-index: 10;
    }

    .magic-text ul {
        font-size: 16px;
        width: 80%;
        position: relative;
        z-index: 10;
    }

    p.second-mtext {
        padding: 20px 0px 60px 0px
    }

    img.bean2-mobile {
        display: block;
        width: 90px;
        height: 90px;
        position: absolute;
        top: 420px;
        right: 0px;
        z-index: 1;
    }

    img.bean3-mobile {
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 204px;
        right: 46px;
        z-index: 1;
    }

    img.bean4-mobile {
        display: block;
        width: 70px;
        height: 70px;
        position: absolute;
        bottom: 0px;
        right: 15px;
        z-index: 1;
    }

/*Mobile Pink Page Running Line*/

    .pink-page.run-line {
        padding: 40px 0;
    }

    .running-line span {
        font-size: 80px;
    }

/*Pink Runnink Page Text*/

    .running-text {
        padding: 35px 10px 50px 10px;
        position: relative;
    }

    .running-text p {
        font-size: 80px;
    }

    img.run-decor1 {
        width: 120px;
        aspect-ratio: 1 / 1;
    }

    img.run-decor2 {
        width: 130px;
        aspect-ratio: 1 / 1;
    }

/*Mobile Last Photo Page*/
    
    .last-photo-page {
        flex-direction: column;
    }

    .last-photo {
        width: 100%;
        max-height: 350px;
    }

/*Mobile Footer*/

    .final-container {
        flex-direction: column;
    }

    .fcont {
        flex-direction: column;
        max-width: 794px;
    }

    .contacts p, .address p, .social-media p {
        font-size: 35px;
    }

}

/*HOVER*/

/*Devices  that can hover*/

@media (hover: hover) {

    a:where(:hover, :focus,) {
        background-color:  var(--pink);
        transition: 250ms;
    }

    .header-logo a:where(:hover, :focus) {
        cursor: pointer;
        background-color: var(--white);
    }

    .final-logo a:where(:hover, :focus) {
        cursor: pointer;
        background-color: var(--black);
    }

    li.order a:where(:hover, :focus) {
        background-color: var(--pink);
        color: black;
        transition: 250ms;
    }

    .contacts a, .address a, .social-media a:where(:hover, :focus) {
        cursor: pointer;
        background-color: var(--black);
    }

    button.open:hover {
        cursor: pointer;
        background-color: var(--black); 
        color: var(--white);
    }

    button.open:active {
        transform: scale(1.1);
        transition: transform 0.2s;
        color: var(--white);
        background-color: var(--black);
    }

    button.lang:hover {
        cursor: pointer;
        opacity: 0.5;
    }

}

/*Devices that can't hover*/

@media (hover: none) {

}
