@import './static/css/variables.css';
@import './static/css/typography.css';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    font-family: 'neue-haas', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*Primary header*/

header {
    background-color: var(--pink);
}

div.header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 0;

}

div.header-container {
    background-color: var(--white);
    max-width: 1320px;
    min-height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 50px;
    margin: 0 60px;
}

div.header-logo {
    padding: 10px 0px 10px 40px;
}

.primary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 40px 10px 0px;
}

nav li {
    list-style-type: none;
    padding: 10px 10px;
}

li a {
    text-decoration: none;
    color: black;
    padding: 10px 12px;
    border-radius: 50px;
    transition: 250ms;
}

li.order a {
    background-color: var(--black);
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    transition: 250ms;
}

a:where(:hover, :focus) {
    background-color:  var(--pink);
    text-shadow:0px 0px 1px black;
    transition: 250ms;
}

li.order a:where(:hover, :focus) {
    background-color: var(--pink);
    color: black;
    text-shadow:0px 0px 1px black;
    transition: 250ms;
}

.mobile-nav-toggle {
    display: none;
}


/*TABLET VERSION*/

/* Max Width 
@width-desktop: 960px;
@width-tablet: 768px;
@width-mobile: 480px;*/

@media (max-width: 64rem) {

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url("../images/hamburger-menu.svg");
        border: 0;
        background-repeat: no-repeat;
        width: 3rem;
        height: 1.5rem;
        background-size: contain;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        max-height: 550px;
        border-bottom-left-radius: 50px;
        background-color: #F5F5F5;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem 2rem 3rem 2rem;
        font-size: 1.5rem;
        gap: 1rem;
        z-index: 1000;
      
    }

    .primary-navigation li {
        padding: 24px 0;
    }

    li.order {
        padding-top: 30px;
    }




}