:root {
    /* Main Colors */
    --pink: #FF93AD;
    --black: #000000;
    --white: #FFFFFF;
    --green:  #43FC43; 
    --yellow:#FEED01;
    --blue:#41FAF9;
    --violet:#F900F8;
    --smoke:#F5F5F5;    
}
